footer{
  background-image: var(--fondoNegroMate) !important;
  /* background-color: #7A6D22; */

  /* margin-top: 20px; */
  border-top:solid var(--naranja) 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p{
  color: #fff;
}


.pie-mensaje{
  width: auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.pie-mensaje p{
margin: 0;
padding: auto 0;
font-size:15px;
}

.pie-mensaje i{
font-size: 20px;
}

.icon-js{
  color: #F6DD5E;
}

.icon-bts{
  color: #742cfc;
}
.icon-vuejs{
color:#40b882;
}


