.div-inicio {
  background-color: var(--negro-suave);
}
.nombre-logo {
  color: #ff4b5c;
  /* font-size: 4rem; */
  text-shadow:
    -3px 2px 0 white,
    -14px 7px 0 rgba(0, 0, 0, 0.5);
  margin: 0 20px;
  font-family: 'Ubuntu', sans-serif;
}

.cont-img {
  /* max-width: 40%; */
  height: auto;
  /* overflow: hidden; */
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.p-sobre-mi {
  color: #ff4b5c;
  font-size: 1rem;
  text-shadow: -3px 2px 0 white;
  margin: 0;
}
.sobre-mi-logo {
  z-index: 1;
  background-color: var(--amarillo);
  width: 100%;
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre-mi-logo span {
  color: #ff4b5c;
  font-size: 100px;
}
.sobre-mi-msg {
  z-index: 2;
  background-color: var(--amarillo);
  width: 100%;
  height: 84%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-contact {
  width: 100%;
  text-decoration: none;
  text-align: center;
  background-color: var(--naranja);
  color: #f1f1f1;
  border: solid var(--negro-suave) 3px;
}


.div-btn-cv {
  max-width: 45%;
  width: 100%;
  margin: 0 auto;
}

.btn-cv {
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  transition: all 400ms ease;
  border: solid var(--negro) 3px;
  background-color: var(--negro);
  color: #ffffff;
}

.btn-cv:hover {
  background-color: #ffffff;
  color: var(--negro);
  animation: none;
}
@media (min-width: 100px) and (max-width: 375px) {
  .cont-inicio {
    width: 100%;
  }
  .div-inicio-nombre {
    color: var(--naranja);
    text-shadow:
    /* -3px 2px 0 white, */ -3px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .div-inicio-subtitulo {
    color: #f1f1f1;
    text-align: center;
  }

  .tamano-movil {
    font-size: 55px;
  }
  .cont-img {
    display: none !important;
  }
  .div-redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
   .button-contact:active {
  background-color: #f1f1f1;
  color: var(--negro-suave) !important;
}
}

/* //Resolcion para dispositivos moviles pequeños: */
@media (min-width: 376px) and (max-width: 602px) {
  /* Globales */
  .cont-inicio {
    width: 100%;
    background-color: var(--negro-suave);
  }
  .div-inicio-nombre {
    text-align: center;
    color: var(--naranja);
    text-shadow:
    /* -3px 2px 0 white, */ -3px 2px 0 rgba(0, 0, 0, 0.9);
  }
  .div-inicio-subtitulo {
    color: #f1f1f1;
    text-align: center;
  }

  .tamano-movil {
    font-size: 65px;
  }
  .cont-img {
    display: none !important;
  }
  .div-redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
   .button-contact:active {
  background-color: #f1f1f1;
  color: var(--negro-suave) !important;
}
}

/* //Resolcion para dispositivos moviles medianos: */
@media (min-width: 603px) and (max-width: 859px) {
  .tamano-movil {
    font-size: 65px;
  }
  .cont-inicio {
    width: 100%;
  }
  .div-inicio-nombre {
    text-align: center;
    color: var(--naranja);
    text-shadow:
    /* -3px 2px 0 white, */ -3px 2px 0 rgba(0, 0, 0, 0.9);
  }
  .div-inicio-subtitulo {
    color: #f1f1f1;
    text-align: center;
  }

  .cont-img {
    display: none !important;
  }

  .button-contact:active {
  background-color: #f1f1f1;
  color: var(--negro-suave) !important;
}
 .div-redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* //Resolcion para tablets: */
@media (min-width: 860px) and (max-width: 972px) {
  .tamano-movil {
    font-size: 65px;
  }
  /* Globales */
  .div-inicio-nombre {
    /* background-color: var(--negro-suave); */
    color: var(--naranja);
  }
  .div-inicio-subtitulo {
       color: #f1f1f1;
  }
.cont-inicio {
    width: 100%;
  }
   .cont-img {
    display: none !important;
  }

   .div-redes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Resolcion para pc de Laptops: */

@media (min-width: 973px) and (max-width: 1032px) {
  .div-inicio {
    background-color: var(--amarillo);
  }
  /* Globales */
  .cont-inicio {
    width: 50%;
    padding-left: 3rem;
  }
  .div-inicio-nombre {
    /* background-color: var(--negro-suave); */
    color: var(--naranja);
  }
  .div-inicio-subtitulo {
    color: var(--negro-suave);
  }
  .cont-img {
    max-width: 50%;
    width: 100%;
  }
  .div-redes {
    display: flex;
    flex-direction: row;
  }
  .button-contact {
    width: 30%;
    background-color: var(--negro-suave);
    color: #f1f1f1;
    transition: all 400ms ease;
    animation: subir-bajar 1s infinite;
  }

  .button-contact:hover {
  background-color: #f1f1f1;
  color: var(--negro-suave) !important;
  animation: none;
}
}

/* Resolcion para pc de escritorio: */
@media (min-width: 1033px) and (max-width: 1375px) {
  .div-inicio {
    background-color: var(--amarillo);
  }
  .cont-inicio {
    width: 50%;
    padding-left: 3rem;
  }
  .div-inicio-nombre {
    /* background-color: var(--negro-suave);
    color: #ffffff; */
    color:var(--naranja)

  }
  .div-inicio-subtitulo {
    color: var(--negro-suave);
  }
  .cont-img {
    max-width: 40%;
    width: 100%;
  }
  .div-redes {
    display: flex;

    flex-direction: row;
  }
  .button-contact {
    width: 30%;
    background-color: var(--negro-suave);
    color: #f1f1f1;
    transition: all 400ms ease;
    animation: subir-bajar 1s infinite;
  }

  .button-contact:hover {
  background-color: #f1f1f1;
  color: var(--negro-suave) !important;
  animation: none;
}
}

@media (min-width: 1375px) {
  .div-inicio {
    background-color: var(--amarillo);
  }
  .cont-inicio {
    width: 60%;
    padding-left: 3rem;
  }
  .div-inicio-nombre {
    /* background-color: var(--negro-suave);
    color: #ffffff; */
    color:var(--naranja)
  }
  .div-inicio-subtitulo {
    color: var(--negro-suave);
  }
  .cont-img {
    max-width: 40%;
    width: 100%;
  }
  .div-redes {
    display: flex;

    flex-direction: row;
  }

  .button-contact {
    width: 30%;
    background-color: var(--negro-suave);
    color: #f1f1f1;
    transition: all 400ms ease;
    animation: subir-bajar 1s infinite;
  }

  .button-contact:hover {
  background-color: #f1f1f1;
  color: var(--negro-suave) !important;
  animation: none;
}
}
