/* mis servicios */
/* .pading-izq-der {
  padding: 20px;
} */

.centrar-texto {
  text-align: center;
}

.altura-30 {
  overflow: hidden;
  height: 300px;
}

.mis-servicios {
  height: 100vh;
  padding: 7% 0% 2% 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-mis-servicios {
  height: 60vh;
  /* padding-top: 6%; */
  display: grid;
  /* align-items: center; */
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  /* max-width: 130rem; */
}

.contenedor-de-servicio {
  /* background-color: rgba(0, 0, 0, 0.8); */
  border: 1.5px solid var(--negro) !important;
  border-radius: 0.8rem;
  background-color: var(--negro-suave);
  transition: 0.5s;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-de-servicio .icono-servicio {
  color: #fff;
  transition: 0.5s ;
}

.contenedor-de-servicio:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.contenedor-de-servicio:hover .icono-servicio {
  color: #FF4B5C;
  /* text-shadow: -1px 0px 2px #f1f1f1; */
}

.titulo-mis-servicios {
  padding-top: 100px;
}

@media (min-width: 972px) and (max-width: 1032px) {
  .contenedor-mis-servicios {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width: 1033px) and (max-width: 1375px) {
  .contenedor-mis-servicios {
    grid-template-columns: repeat(3, 1fr);

}
}

@media (min-width: 1375px){
  .contenedor-mis-servicios {
      grid-template-columns: repeat(3, 1fr);

  }
 }
