@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./css/animaciones.css);
@import url(./css/inicio.css);
@import url(./css/tecnologias.css);
@import url(./css/proyectos.css);
@import url(./css/modal.css);
@import url(./css/servicios.css);
@import url(./css/footers.css);
@import url(./css/redesSociales.css);
@import url(./css/navbars/navbaresponsive.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
:root{
  --amarillo: #ffd25a;
  --morado:#be8dfb;
  --naranja:#ff8589;
  --azul:#87b6fa;
  --negro:#464546;
  --fondoAmarillo:linear-gradient(62deg, #f0db4f 0%, #ffc52d 100%);
  --fondoNegroMate: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* html, body{
  height: auto;
  overflow: scroll;
} */
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
}

.principal{
  padding: 0;
 }

/* Utils */
.sombre-de-texto {
  text-shadow: -6px 1px 2px rgba(0, 0, 0, 0.58);
}
.sombra-de-texto-2rem {
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.58);
}

.sombra-de-texto-3rem {
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.70);
}

.truncar-txt{
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.color-blanco{
  color: #ffffff !important;
}
.color-negro{
  color:var(--negro)
}
.amarillo-mate{
  background-color: var(--amarillo);
}

.negro-mate{
  background-image: var(--fondoNegroMate);
}
.fondo-negro{
  background-color: var(--negro);
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

