@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./css/animaciones.css);
@import url(./css/computadora.css);
@import url(./css/inicio.css);
@import url(./css/tecnologias.css);
@import url(./css/proyectos.css);
@import url(./css/modal.css);
@import url(./css/servicios.css);
@import url(./css/footers.css);
@import url(./css/redesSociales.css);
@import url(./css/navbars/navbaresponsive.css);
@import url(./css//loader.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
:root{
  --amarillo: #FAF3E0;
  --morado:#be8dfb;
  --naranja:#FF4B5C;
  --azul:#87b6fa;
  --negro:#464546;
  --negro-suave:#1E2A38;
  --fondoAmarillo:linear-gradient(62deg, #f0db4f 0%, #ffc52d 100%);
  --fondoNegroMate: linear-gradient(62deg, #1E2A37 0%, #1E2A38 100%);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,body{
  height: auto;
  /* overflow: hidden; */
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  object-fit: cover;
}

.principal{
  padding: 0;
 }

 .titulo-subtitulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .titulo-subtitulo p{
   /* background-color: var(--negro); */
   font-size: 18px;
   display: flex;
justify-content: center;
align-items: center;
 }

/* Utils */
.sombre-de-texto {
  text-shadow: -6px 1px 2px rgba(0, 0, 0, 0.58);
}
.sombra-de-texto-2rem {
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.58);
}

.sombra-de-texto-3rem {
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.70);
}

.sombra-marca-icon{
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
}

.truncar-txt{
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.color-blanco{
  color: #f1f1f1 !important;
}
.color-negro-suave{
  color: #1E2A38;
}
.color-negro{
  color:var(--negro)
}
.color-gris{
  color:#e5e7e9;
}

.amarillo-mate{
  background-color: var(--amarillo);
}

.negro-mate{
  background-image: var(--fondoNegroMate);
}
.fondo-negro{
  background-color: var(--negro);
}
.fondo-negro-suave{
  background-color: #1E2A38;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@media (min-width: 100px) and (max-width: 375px) {
  main {
    background-color: var(--negro-suave);
  }
  .titulo-subtitulo{
    padding-top: 20px;
  }
     .titulo-subtitulo h1{
       color: var(--naranja);
    text-shadow:
     -3px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 25px !important;
     text-align: center;
}
 .titulo-subtitulo p{
    color: #f1f1f1;
   /* background-color: var(--negro); */
   font-size: 18px;
 }
}

/* //Resolcion para dispositivos moviles pequeños: */
@media (min-width: 376px) and (max-width: 602px) {
  /* Globales */
  main {
    background-color: var(--negro-suave);
  }
    .titulo-subtitulo{
    padding-top: 20px;
  }
   .titulo-subtitulo h1{
       color: var(--naranja);
    text-shadow:
     -3px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 25px !important;
     text-align: center;
}
 .titulo-subtitulo p{
    color: #f1f1f1;
   /* background-color: var(--negro); */
   font-size: 18px;
 }
}

/* //Resolcion para dispositivos moviles medianos: */
@media (min-width: 603px) and (max-width: 859px) {
  main {
    background-color: var(--negro-suave);
  }
    .titulo-subtitulo{
    padding-top: 20px;
  }
   .titulo-subtitulo h1{
       color: var(--naranja);
    text-shadow:
     -3px 2px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 25px !important;
     text-align: center;
}
 .titulo-subtitulo p{
    color: #f1f1f1;
   /* background-color: var(--negro); */
   font-size: 18px;
 }
}

/* //Resolcion para tablets: */
@media (min-width: 860px) and (max-width: 972px) {
  /* Globales */
}
/* Resolcion para pc de Laptops: */

@media (min-width: 972px) and (max-width: 1032px) {
  .div-inicio {
    background-color: var(--amarillo);
  }
  /* Globales */
  .cont-inicio {
    width: 50%;
    padding-left: 3rem;
  }

  .cont-img {
    max-width: 50%;
    width: 100%;
  }
  .div-redes {
    display: flex;
    flex-direction: row;
  }
  .button-contact {
    width: 30%;
    background-color: var(--negro-suave);
    color: #f1f1f1;
    transition: all 400ms ease;
    animation: subir-bajar 1s infinite;
  }
}

/* Resolcion para pc de escritorio: */
@media (min-width: 1033px) and (max-width: 1375px) {
  main {
    background-color: var(--amarillo);
  }
}

@media (min-width: 1375px) {
  main {
    background-color: var(--amarillo);
  }
}
